@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

[data-simplebar] .simplebar-scrollbar::before {
    background: #9e9ea9 !important; /* warna thumb */
    border-radius: 9999px;
}

[data-simplebar]
    .simplebar-track.simplebar-vertical
    .simplebar-scrollbar::before {
    width: 6px !important; /* tebal vertical */
}

[data-simplebar]
    .simplebar-track.simplebar-horizontal
    .simplebar-scrollbar::before {
    height: 6px !important; /* tebal horizontal */
}
